/* BLACK COLOR #13171A */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border:1px solid red; */
}
html {
  font-size: 20px;
  color: #f8f8f8;
  background-image: url("Untitled.png");
  /* background-color: #021421; */
}

header {
  display: flex;
  justify-content: space-evenly;
  padding: 3vh 0px 3vh 0px;
}
.logo {
  width: 3vw;
  display: flex;
  font-size: 1.8rem;
  justify-content: space-between;
  /* margin:0.7vw; */
  font-weight: 900;
  /* margin-top: 0px; */
}
.logo img {
  /* margin-top: 2vh; */
  width: 90px;
  /* margin: 1.5rem; */
}
.navbar ul {
  display: flex;
  width: 29vw;
  justify-content: space-evenly;
  padding-top: 1vh;
}
.navbar li a {
  padding-top: 1%;
  font-size: 1.1rem;
  text-decoration: none;
  color: #b7b7b7ad;
  list-style: none;
}

.contactUs button {
  font-size: 1.1rem;
  color: #f8f8f8;
  text-decoration: none;
  background-color: #ffffff00;
  border: 1px solid #4e4e4ee8;
  border-radius: 0.5vw;
  padding: 0.5vw 1vw;
}
.contactUs button:hover {
  cursor: pointer;
}

/* .navbar ul{
    margin: 1.5rem;
    font-size: 1.3rem;
    display:flex;
    justify-content: flex-start;
} */
.hr hr {
  width: 82vw;
  margin: auto;
  color: #4e4e4ee8;
  /* display: flex; */
  /* justify-content: center; */
}

main {
  margin: 3rem 8rem;
  font-size: 1.16rem;
}
main form ol li {
  margin: 3rem 0px;
}
main form button {
  padding: 1em 3em;
  background-color: #f8f8f8;
  font-size: 0.75rem;
}
